html {
    display: table;
    margin: auto;
}
body {
    background: linear-gradient(#E8D9A9, #9A5044) fixed;
    font-family: Calibri, serif;
    display: table-cell;
    vertical-align: middle;
}
html, body {
    height: 100%;
}
th, td {
    border: 3px solid black;
    padding: 10px;
    border-collapse: separate;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    empty-cells: show;
}
th {
    background-color: #ffda44;
}
button {
    margin: 0 auto;
    display: block;
}
h1 {
    text-align: center;
}
input:invalid {
    border: 2px dashed red;
}
input:valid {
    border: 2px solid black;
}